---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
    <section>
        <div>
            <h2></h2>
            <p></p>
        </div>
        <div>
            form 
        </div>
    </section>
</MainLayout>