---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---
<MainLayout title="Titel">
    <section>
        <article class="grid grid-cols-2">
        <div>
            <h2 class="mt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2">Get <span class="font-regular">in touch</span></h2>
            <p class="font-black text-bodySm md:text-body">Whether you're looking to strengthen your crew’s high-speed navigation skills, explore tailored maritime training, or plan a unique stay on Aspö with the option of guided boat experiences - we're here to help. <br><br> Reach out to learn more about our specialized courses, availability, or how we can support your maritime goals with precision, experience, and action.</p>
        </div>
        <div>
            form 
        </div>
    </article>
    </section>
</MainLayout>