---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
<section>
<h2 class="mt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2">Specialized <br /><span class="font-regular">Maritime Training</span></h2>
<div class="w-full mt-4xl flex justify-end">
    <p class="text-right font-black text-bodySm md:text-body">For professionals who demand precision, speed, and operational readiness.</p>
</div>    
</section>
<section>
    <p class="text-center">Exceptive offers hands-on, real-world maritime training designed for individuals and teams operating in demanding conditions. Our courses are tailored to enhance navigation, tactical decision-making, and vessel handling at high speed. </p>
</section>

<section>
<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</section>
<section>
<div class="md:grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>
</section>
<section>
<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</section>
<section>
<div class="md:grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>
</section>
<section>
<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</section>
</MainLayout>