---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
    <div class="fixed inset-0 z-[-1] bg-[url('/bg_grid.svg'),url('/bg_blue.jpg')] bg-repeat bg-center bg-cover "></div>

<section class="bg-[url('/training_fade.png')] bg-cover bg-center h-screen 2xl:pt-4xl text-white flex flex-col justify-between">
<h2 class="pt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">Specialized <br /><span class="font-regular">Maritime Training</span></h2>
<div class="flex justify-end pr-sm md:pr-m lg:pr-lg pb-sm md:pg-m lg:pb-lg">
    <p class="text-right font-black text-bodySm md:text-body pr-sm md:pr-m lg:pr-lg">For professionals who demand precision, speed, <br>and operational readiness.</p>
</div>    
</section>
<section class="flex justify-center text-white pt-sm md:pt-m lg:pt-lg">
    <p class="text-center font-black text-bodySm md:text-body w-8xl md:w-[710px]">Exceptive offers hands-on, real-world maritime training designed for individuals and teams operating in demanding conditions. Our courses are tailored to enhance navigation, tactical decision-making, and vessel handling at high speed. </p>
</section>

<section class=" text-white pb-sm md:pb-m lg:pb-lg">
    <div class="px-sm md:px-m lg:px-lg">
<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>


<div class="md:grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>


<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>


<div class="md:grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>


<div class="md:grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</div>
</section>
</MainLayout>