---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
    <div class="fixed inset-0 z-[-1] bg-[url('/bg_grid.svg'),url('/bg_blue.jpg')] bg-repeat bg-center bg-cover "></div>

<section class="bg-[url('/training_fade.png')] bg-cover bg-center h-screen 2xl:pt-4xl text-white flex flex-col justify-between">
<h2 class="pt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">Specialized <br /><span class="font-regular">Maritime Training</span></h2>
<div class="flex justify-end pr-sm md:pr-m lg:pr-lg pb-sm md:pg-m lg:pb-lg">
    <p class="text-right font-black text-bodySm md:text-body pr-sm md:pr-m lg:pr-lg">For professionals who demand precision, speed, <br>and operational readiness.</p>
</div>    
</section>
<section class="flex justify-center text-white pt-sm md:pt-m lg:pt-lg">
    <p class="text-center font-black text-bodySm md:text-body w-8xl md:w-[710px]">Exceptive offers hands-on, real-world maritime training designed for individuals and teams operating in demanding conditions. Our courses are tailored to enhance navigation, tactical decision-making, and vessel handling at high speed. </p>
</section>

<section class=" text-white pb-sm md:pb-m lg:pb-lg">

    <div class="px-sm md:px-m lg:px-lg">

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="lg:order-2 px-sm md:px-m lg:px-lg pb-sm md:pb-0">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Non-Standard<br /><span class="font-regular">Maritime Operations</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">Learn how to understand, approach, and adapt to civilian boating behavior. Includes vessel recognition, improvisational skills, and situational awareness—such as how to secure or “steal” a boat when needed for operations.</p>
        </div>
    </div>
     <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/boati.jpg" alt="rental house 1"></div>
</div>

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="pr-sm md:pr-m lg:pr-lg">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
    <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/greenpeace.jpg" alt="rental house 2"></div>
</div>

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="lg:order-2 px-sm md:px-m lg:px-lg pb-sm md:pb-0">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Search<br /><span class="font-regular">and Rescue</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">Tactical and technical SAR training, with a focus on coordination, communication, and life-saving procedures at sea.</p>
        </div>
    </div>
     <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/greenpeace.jpg" alt="rental house 1"></div>
</div>

<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="pr-sm md:pr-m lg:pr-lg">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">High-Speed<br /><span class="font-regular">Navigation</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">Develop driving skills in rough seas, at night, or under pressure. Focused on safety, precision, and full control at high speeds.</p>
    </div>
</div>
    <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/greenpeace.jpg" alt="rental house 2"></div>
</div>
<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="lg:order-2 px-sm md:px-m lg:px-lg pb-sm md:pb-0">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Interception<br /><span class="font-regular">Tactics</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]"> Train in close-quarter tactics, interception of vessels, and secure boarding procedures for both law enforcement and special operations.</p>
        </div>
    </div>
     <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/greenpeace.jpg" alt="rental house 1"></div>
</div>
</div>
</section>
</MainLayout>