---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import FaqInfo from '../components/FaqInfo.astro'
---

<MainLayout title="Titel">
    
    <div class="flex justify-between pt-4xl pr-sm md:pr-m lg:pr-6xl">
   <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-blue-500">FAQ</h2>
    <div  class="pt-s"><Button variant="thirdly" size="small" href="#general">General</Button></div>
    <div  class="pt-s"><Button variant="thirdly" size="small" href="#courses">Courses</Button></div>
    <div  class="pt-s"><Button variant="thirdly" size="small" href="#facilities">Facilities</Button></div>
    <div  class="pt-s"><Button variant="thirdly" size="small" href="#booking">Booking</Button></div>
    </div>
    <section id="general">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
        <h2 class="pt-xl md:sticky top-0 self-start font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-blue-500">General</h2> 
        <div class="pr-sm md:pr-m lg:pr-lg">
         <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="Who is your training for?" 
         description="Our training is designed for professional mariners, SAR teams, and vessel operators seeking advanced skills in navigation, decision-making, and high-performance leadership at sea."/>
          <FaqInfo title="Do you offer costumized training programs?" 
         description="Yes. All training can be tailored to your operational needs and vessel types. Whether you're preparing for specific scenarios or need specialized skills, we collaborate to build a program that fits your goals."/>
        </div>
       </div>
    </section>

    <section id="courses" class="">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
      <h2 class="md:order-2 pt-xl md:sticky top-0 self-start text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg text-blue-500">Courses &<br><span class="font-regular">Consulting</span></h2> 
        <div class="pl-sm md:pl-m lg:pl-lg">
          <FaqInfo title="What kind of maritime courses do you provide?" 
         description="We offer specialized training in high-speed navigation, rescue operations, maritime decision-making under pressure, leadership and command at sea - and more."/>
          <FaqInfo title="Can I book one-on-one consultation or coaching?" 
         description="Absolutely. We provide individual coaching for commanders and maritime leaders - and more."/>
        </div>
       </div>
    </section>

        <section id="facilities">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
        <h2 class="pt-xl md:sticky top-0 self-start font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-blue-500">Facilities &<br><span class="font-regular">Rental</span></h2> 
        <div class="pr-sm md:pr-m lg:pr-lg">
          <FaqInfo title="Can I rent a summer house even if I'm not attending a course?" 
         description="Yes. Our houses are also available for recreational stays, retreats, and private bookings outside course periods."/>
          <FaqInfo title="Are the houses equipped for team-building and group stays?" 
         description="Yes. Our houses are also available for recreational stays, retreats, and private bookings outside course periods."/>
        </div>
       </div>
    </section>

    <section id="booking">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
         <h2 class="md:order-2 pt-xl md:sticky top-0 self-start text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg text-blue-500">Booking &<br><span class="font-regular">Practical info</span></h2> 
        <div class="pl-sm md:pl-m lg:pl-lg">
          <FaqInfo title="How do I book a course or accommodation?" 
         description="You can contact us directly via our website or email us at info@exceptive.se. We'll get back to you within 24 hours with availability and pricing."/>
          <FaqInfo title="What languages are the courses available in?" 
         description="Courses are available in English and Swedish."/>
          <FaqInfo title="Do you offer certificates or documentation after training?" 
         description="Yes, we provide a certificate of participation and feedback summary after each completed course."/>
        </div>
       </div>
    </section>

    <div class="my-m md:my-2xl flex justify-end pr-sm md:pr-m lg:pr-lg"><Button variant="secondary" size="medium" href="/contact">Contact</Button></div>

</MainLayout>