---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import FaqInfo from '../components/FaqInfo.astro'
---

<MainLayout title="Titel">
    <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">FAQ</h2>
    <section>
       <div class="md:grid grid-cols-2">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">General</h2> 
        <div class="pr-sm md:pr-m lg:pr-lg">
         <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
        </div>
       </div>
    </section>

    <section>
       <div class="md:grid grid-cols-2">
        <div class="pl-sm md:pl-m lg:pl-lg">
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
        </div>
        <h2 class="text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg">Courses &<br><span class="font-regular">Consulting</span></h2> 
       </div>
    </section>

        <section>
       <div class="md:grid grid-cols-2">
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">Facilities &<br><span class="font-regular">Accomodation</span></h2> 
        <div class="pr-sm md:pr-m lg:pr-lg">
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
         <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
        </div>
       </div>
    </section>

    <section>
       <div class="md:grid grid-cols-2">
        <div class="pl-sm md:pl-m lg:pl-lg">
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
        </div>
        <h2 class="text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg">Booking &<br><span class="font-regular">Practical info</span></h2> 
       </div>
    </section>

    <Button class="pr-sm md:pr-m lg:pr-lg">Contact</Button>

</MainLayout>