---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import FaqInfo from '../components/FaqInfo.astro'
---

<MainLayout title="FAQ" description="Find answers to common questions about our maritime training, courses, accommodation, and booking process at Exceptive.">
     
   <div id="grid-bg" class="fixed inset-0 z-[-1] pointer-events-none">
  <img src="/cols.svg" class="w-full h-full object-cover transition-transform duration-75" alt="gridded background texture for her pleasure" />
  </div>

    
    <div class="flex justify-between pt-4xl pr-sm md:pr-m lg:pr-6xl">
   <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2  2xl:pt-4xl pl-sm md:pl-m lg:pl-lg text-blue-500 text-focus-in">FAQ</h2>
    </div>
    <section id="general" class="md:pt-lg" >
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
        <h2 class="pt-xl md:sticky top-0 self-start font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-blue-500 text-focus-in">General</h2> 
        <div class="pr-sm md:pr-m lg:pr-lg fadein">
         <FaqInfo title="What is Exceptive?" 
         description="Exceptive is a consulting service specializing in high-speed navigation and maritime leadership training. We offer expert guidance for ship and boat commanders, particularly in advanced conditions and rescue operations."/>
          <FaqInfo title="Who is your training for?" 
         description="Our training is designed for professional mariners, SAR teams, and vessel operators seeking advanced skills in navigation, decision-making, and high-performance leadership at sea."/>
          <FaqInfo title="Do you offer costumized training programs?" 
         description="Yes. All training can be tailored to your operational needs and vessel types. Whether you're preparing for specific scenarios or need specialized skills, we collaborate to build a program that fits your goals."/>
        </div>
       </div>
    </section>

 <!-- Scroll-indikationen -->
<div class="relative h-20 z-50">
  <div class="fixed bottom-[139px] left-6 w-0.5 h-lg bg-black-300 overflow-hidden -mb-5">
    <div class="w-1 h-[45px] bg-white animate-scroll-down"></div>
  </div>
  <p class="fixed bottom-3xl left-xs font-black origin-bottom-left rotate-90 text-bodySm text-white">
    Scroll down
  </p>
</div>
    <section id="courses" class="md:pt-lg">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
      <h2 class="md:order-2 pt-xl md:sticky top-0 self-start text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg text-blue-500 ">Courses &<br><span class="font-regular">Consulting</span></h2> 
        <div class="pl-sm md:pl-m lg:pl-lg fadein">
          <FaqInfo title="What kind of maritime courses do you provide?" 
         description="We offer specialized training in high-speed navigation, rescue operations, maritime decision-making under pressure, leadership and command at sea - and more."/>
          <FaqInfo title="Can I book one-on-one consultation or coaching?" 
         description="Absolutely. We provide individual coaching for commanders and maritime leaders - and more."/>
        </div>
       </div>
    </section>

        <section id="facilities" class="md:pt-lg">
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
        <h2 class="pt-xl md:sticky top-0 self-start font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg text-blue-500 ">Facilities &<br><span class="font-regular">Rental</span></h2> 
        <div class="pr-sm md:pr-m lg:pr-lg fadein">
          <FaqInfo title="Can I rent a summer house even if I'm not attending a course?" 
         description="Yes. Our houses are also available for recreational stays, retreats, and private bookings outside course periods."/>
          <FaqInfo title="Are the houses equipped for team-building and group stays?" 
         description="Yes, our houses are well-suited for team-building and group stays."/>
        </div>
       </div>
    </section>

    <section id="booking" class="md:pt-lg" >
       <div class="pt-0 md:pt-xl md:grid grid-cols-2">
         <h2 class="md:order-2 pt-xl md:sticky top-0 self-start text-right font-black text-h2Sm md:text-h2Md lg:text-h2 pr-sm md:pr-m lg:pr-lg text-blue-500 ">Booking &<br><span class="font-regular">Practical info</span></h2> 
        <div class="pl-sm md:pl-m lg:pl-lg fadein">
          <FaqInfo title="How do I book a course or accommodation?" 
         description="You can contact us directly via our website or email us at pelle@exceptive.se. We'll get back to you ASAP with availability and pricing."/>
          <FaqInfo title="What languages are the courses available in?" 
         description="Courses are available in English and Swedish."/>
          <FaqInfo title="Do you offer certificates or documentation after training?" 
         description="Yes, we provide a certificate of participation and feedback summary after each completed course."/>
        </div>
       </div>
    </section>

    <div class="my-m md:my-2xl flex justify-end pr-sm md:pr-m lg:pr-lg"><Button variant="secondary" size="medium" href="/contact">Contact</Button></div>

</MainLayout>

<script>
  const grid = document.getElementById('grid-bg');
  let targetX = 0;
  let targetY = 0;
  let currentX = 0;
  let currentY = 0;


  document.addEventListener('mousemove', (e) => {
    const ratioX = (e.clientX / window.innerWidth - 0.5);
    const ratioY = (e.clientY / window.innerHeight - 0.5);


    targetX = ratioX * 30; 
    targetY = ratioY * 30;
  });


  function animateGrid() {

    currentX += (targetX - currentX) * 0.08;
    currentY += (targetY - currentY) * 0.08;

    grid.style.transform = `translate(${currentX}px, ${currentY}px)`;

    requestAnimationFrame(animateGrid);
  }

  animateGrid();
</script>


<script>
    import { inView } from "motion";
    import { animate } from "motion";

    inView(".fadein", ({ target }) => {
  animate(
    target,
    { opacity: [0, 1], y: [40, 0] },
    { duration: 1.5 }
  );

  return () => {
    animate(
      target,
      { opacity: 0, y: 40 }
    );
  };
});

</script>