---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";

---
<MainLayout title="Titel">
  <div class="fixed inset-0 z-[-1] bg-[url('/bg_grid.svg'),url('/bg_blue.jpg')] bg-repeat bg-center bg-cover"></div>


<section id="hero" class="h-screen ">
	<!-- hero med båt som rör sig -->
	<div class="text-white">
    <h2 class="text-h2Sm md:text-h2Md lg:text-h2 pt-4xl pl-sm md:pl-m lg:pl-lg">High-Speed <span class="font-black">Navigation</span><br /><span class="font-black">Maritime</span> Expertise</h2>
	  <p class="my-2xl font-black text-bodySm md:text-body pl-sm md:pl-m lg:pl-lg">Hands-on training for fast-boat operations, navigation & rescue.</p>
	  <div class="flex justify-end pr-sm md:pr-m lg:pr-lg"><Button variant="primary" size="medium" href="/contact">Contact</Button></div>
	</div>
</section>

<section class="scrollfade relative overflow-clip">
  <!-- Sticky video section -->

  <div class="sticky top-0 h-screen w-full z-0 ">
    <video
      src="/bg_vid.mp4"
      autoplay
      muted
      loop
      playsinline
      class="scrollfade-video w-full h-full object-cover"
    ></video>
  </div>


  <!-- Content overlay -->
  <div class="relative z-10 bg-[rgba(25,37,192,0.5)]">
    <div class="md:grid grid-cols-2 w-full text-white">
      <div class="pl-sm md:pl-m lg:pl-lg pt-m">
        <img class="w-7xl" src="/logo.svg" alt="logo" />
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 ">
          About <span class="font-regular">us</span>
        </h2>
        <p class="font-black text-bodySm md:text-body ">
          Exceptive is a specialized consultancy offering advanced training for ship and boat commanders, with a sharp focus on high-speed navigation, maritime operations, tactical decision-making, and emergency response. Our training programs are tailored for professionals in demanding maritime environments.<br> <br>Including military, rescue, and law enforcement units, and emphasize hands-on experience, situational awareness, and operational safety under extreme conditions.<br><br>In addition to our courses, we also offer the possibility to rent houses on Aspö in the southern Swedish archipelago. These houses are available both for participants attending training on the island and for private guests who wish to experience the unique coastal surroundings.<br><br>Visitors can also book guided high-speed boat tours through the archipelago, combining stunning nature with advanced navigation experiences.<br />At its core, Exceptive is about precision, confidence, and excellence at sea — whether you're here to train, collaborate, or simply enjoy the marine environment from a new perspective.
        </p>
      </div>
      <div class="">
        <img src="/karta_svg.svg" alt="karta" />
      </div>
    </div>
  </div>
</section>



<section class="relative bg-white bg-[url('/cols.svg')] bg-no-repeat bg-center bg-cover text-blue-500">
	<!-- highspeed med fyra bilder -->
	 <h2 class="text-h2Sm md:text-h2 lg:text-h2 pl-sm md:pl-m lg:pl-lg">High-speed <span class="font-black">Navigation</span></h2>
	 <div class="grid grid-cols-4">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
	</div>
	<h2 class="text-h2Sm md:text-h2 lg:text-h2 pr-sm md:pr-m lg:pr-lg"><span class="font-black">Maritime</span> Expertise</h2>
</section>

<section class="relative w-full">
  <!-- Background image -->
  <img src="/2025_fade.png" alt="2025 background" class="w-full h-auto" />


  <div class="absolute inset-0 flex flex-col justify-start pl-sm md:pl-m lg:pl-lg text-white">
    <h1 class="text-h1Sm md:text-h1Md lg:text-h1">2025</h1>
    <h2 class="text-h2Sm md:text-h2 lg:text-h2">
      <span class="font-black">Advance</span> your <br> maritime <span class="font-black">training</span>
    </h2>
    <p class="text-bodySm lg:text-body font-black">Book your tailored training experience now and prepare for real-world high-speed operations.</p>
    <p class="text-bodySm md:text-bodyDeco font-black">Start planning your 2025 sessions today.</p>
    <Button variant="primary" size="medium" href="/contact">Contact</Button>
  </div>
</section>



<!--utan animation: <section>
	
	 <h2 class="text-h2Sm md:text-h2 lg:text-h2 pl-sm md:pl-m lg:pl-lg font-black">Goals <span class="font-regular">reached</span></h2>
	 <div class="flex justify-center">
		<article class="grid md:grid-cols-2 gap-s">
			<div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/red.jpg')] hover:bg-cover hover:bg-center rounded-9">
				<h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black ">COARSES HELD WITH EXCEPTIVE</h3>
				<h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center">139</h2>
			</div> 
			<div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/greenpeace.jpg')] hover:bg-cover hover:bg-center rounded-9">
				<h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black ">HAPPY <br>CONTESTANTS</h3>
				<h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center">211</h2>
			</div>
			<div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/pellep.jpg')] hover:bg-cover hover:bg-center rounded-9">
				<h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black ">YEARLY TRAINING SESSIONS</h3>
				<h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center">16</h2>
			</div>
			<div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/highlandfate.jpg')] hover:bg-cover hover:bg-center rounded-9">
				<h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black ">MARINE SAFETY COMPLIANCE</h3>
				<h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center">100%</h2>
			</div>
		</article>
	 </div>
	 <Button>FAQ</Button>
</section>   -->
<section>
  <h2 class="text-h2Sm md:text-h2 lg:text-h2 pl-sm md:pl-m lg:pl-lg font-black text-white mb-2xl">
    Goals <span class="font-regular">reached</span>
  </h2>
  <div class="flex justify-center">
    <article class="grid md:grid-cols-2 gap-s">

      <div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/red.jpg')] hover:bg-cover hover:bg-center rounded-9">
        <h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black">COARSES HELD WITH EXCEPTIVE</h3>
        <h2
          x-data="{ count: 0, end: 139, observer: null, start() { let i = setInterval(() => { this.count++; if (this.count >= this.end) clearInterval(i); }, 10); } }"
          x-init="observer = new IntersectionObserver((e) => { if (e[0].isIntersecting) { start(); observer.disconnect(); } }); observer.observe($el)"
          x-text="count"
          class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center"
        ></h2>
      </div>

      <div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/greenpeace.jpg')] hover:bg-cover hover:bg-center rounded-9">
        <h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black">HAPPY <br>CONTESTANTS</h3>
        <h2
          x-data="{ count: 0, end: 211, observer: null, start() { let i = setInterval(() => { this.count++; if (this.count >= this.end) clearInterval(i); }, 10); } }"
          x-init="observer = new IntersectionObserver((e) => { if (e[0].isIntersecting) { start(); observer.disconnect(); } }); observer.observe($el)"
          x-text="count"
          class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center"
        ></h2>
      </div>

      <div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/pellep.jpg')] hover:bg-cover hover:bg-center rounded-9">
        <h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black">YEARLY TRAINING SESSIONS</h3>
        <h2
          x-data="{ count: 0, end: 16, observer: null, start() { let i = setInterval(() => { this.count++; if (this.count >= this.end) clearInterval(i); }, 50); } }"
          x-init="observer = new IntersectionObserver((e) => { if (e[0].isIntersecting) { start(); observer.disconnect(); } }); observer.observe($el)"
          x-text="count"
          class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center"
        ></h2>
      </div>

      <div class="py-s px-s bg-white/50 w-auto lg:w-[479px] h-[247px] hover:bg-[url('/highlandfate.jpg')] hover:bg-cover hover:bg-center rounded-9">
        <h3 class="text-h3Sm md:text-h3Md lg:text-h3 font-black">MARINE SAFETY COMPLIANCE</h3>
        <h2
          x-data="{ count: 0, end: 100, observer: null, start() { let i = setInterval(() => { this.count++; if (this.count >= this.end) clearInterval(i); }, 20); } }"
          x-init="observer = new IntersectionObserver((e) => { if (e[0].isIntersecting) { start(); observer.disconnect(); } }); observer.observe($el)"
          x-text="count + '%'"
          class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-center"
        ></h2>
      </div>

    </article>
  </div>
  <div class="flex justify-center mt-2xl">
  <Button>FAQ</Button>
  </div>

</section> 

<!-- bild + scroll based h1 med alpine.js koder-->
<!-- <section 
  x-data="{ scrollY: 0 }" 
  x-init="scrollY = window.scrollY; window.addEventListener('scroll', () => scrollY = window.scrollY)" 
  class="relative overflow-hidden h-screen"
>
	<img class="w-full object-cover" src="/atlanticosprey.jpg" alt="Maritime Rescue image">
	  <h1 
    class="absolute md:bottom-0 md:left-[850px] text-h1Sm md:text-h1Md lg:text-h1 font-black text-white/80 transition-transform duration-100" 
    :style="`transform: translateX(-${scrollY * 0.2}px)`"
  >
    EXCEPTIVE
  </h1>
</section> -->
<section 
  x-data="{ 
    scrollY: 0,
    scrollFactor: window.innerWidth >= 768 ? 0.2 : 0.05 
  }" 
  x-init="
    scrollY = window.scrollY; 
    window.addEventListener('scroll', () => scrollY = window.scrollY); 
    window.addEventListener('resize', () => {
      scrollFactor = window.innerWidth >= 768 ? 0.2 : 0.05
    })
  " 
  class="relative h-screen overflow-hidden"
>
  <!-- Bild -->
  <img class="w-full h-full object-cover" src="/atlanticosprey.jpg" alt="Maritime Rescue image">

  <!-- Rubrik -->
  <h1 
    class="absolute bottom-6 left-11 md:bottom-0 md:left-[850px] 
           text-h1Md md:text-h1 font-black text-white/80 z-10 
           transition-transform duration-100"
    :style="`transform: translateX(-${scrollY * scrollFactor}px)`"
  >
    EXCEPTIVE
  </h1>
</section>






<section class="bg-white bg-[url('/cols.svg')] bg-no-repeat bg-center bg-cover">
	<!-- selection del -->
	 <div class="px-sm md:px-m lg:px-lg text-blue-500">
	<h2 class="text-h2Sm md:text-h2 lg:text-h2 "><span class="font-black">Selection of specialized</span><br>training areas.</h2>
	<p class="text-bodySm lg:text-body font-black">Exceptive offers advanced courses in high-speed navigation, tactical boarding, SAR, and non-standard maritime operations—designed for those operating in demanding and dynamic environments.</p>
	<Button>Explore Training</Button>
	</div>
	<div class="grid grid-cols-3">
		<img src="" alt="">
		<img src="" alt="">
		<img src="" alt="">
	</div>
</section>


<section>
	<!-- founder -->
	 <div class="md:grid grid-cols-2">
		<img src="" alt="">
		<div class="pr-sm md:pr-m lg:pr-lg text-white">
			<h2 class="text-h2Sm md:text-h2 lg:text-h2">Founder<br><span class="font-black">Pelle Pettersson</span></h2>
			<p class=" text-bodySm lg:text-body font-black">
				With decades of experience in high-speed maritime operations, tactical navigation, and specialized training, the founder of Exceptive brings unmatched expertise to the field. From training elite units and security forces to crafting tailored programs for civilian professionals, he's driven by a mission to elevate maritime performance.
			</p>
			<p class=" text-bodySm lg:text-body font-black mt-3xl">
				“I bought my first sailboat when I was 9 years old taught myself to sail.”
			</p>
		</div>
	 </div>
	 <img src="" alt="">
</section>

</MainLayout>

<script>
  import { animate, scroll, inView } from "motion";

  inView(".scrollfade-video", () => {
    // starta scrollbaserad animation först när videon är i view
    scroll(
      animate(".scrollfade-video", {
        opacity: [0, 1],
        scale: [0.5, 1],
      }),
      {
        target: document.querySelector(".scrollfade"),
        offset: ["start end", "start start"],
        scrub: true,
      }
    );
  });
</script>

