---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
import Link from '../components/Link.astro';
import { Image } from 'astro:assets';
import thumbsup from "../assets/images/thumbsup.png";
---
<MainLayout title="Titel">
<section id="hero">
	<div class="mt-4xl text-h2Sm md:text-h2">
    <h2>High-Speed <span class="font-bold">Navigation</span><br />Maritime <span class="font-bold">Expertise</span></h2></div>
	<p class="my-2xl font-bold text-bodySm md:text-body">Hands-on training for fast-boat operations, navigation & rescue.</p>
	<div class="flex justify-end"><Button variant="primary" size="medium" href="">Contact</Button></div>
</section>
<section>
	<img src="../50nauticalmiles.jpg" alt="high-speed boat">
</section>
<section>
	<img src="../logo.svg" alt="logo">
	<h2 class="font-black text-h2Sm md:text-h2">About <span class="font-regular">us</span></h2>
	<p class="font-bold text-bodySm md:text-body">Exceptive is a specialized consultancy offering advanced training for ship and boat commanders, with a sharp focus on high-speed navigation, maritime operations, tactical decision-making, and emergency response. Our training programs are tailored for professionals in demanding maritime environments.<br />Including military, rescue, and law enforcement units, and emphasize hands-on experience, situational awareness, and operational safety under extreme conditions.<br />In addition to our courses, we also offer the possibility to rent houses on Aspö in the southern Swedish archipelago. These houses are available both for participants attending training on the island and for private guests who wish to experience the unique coastal surroundings.<br />Visitors can also book guided high-speed boat tours through the archipelago, combining stunning nature with advanced navigation experiences.<br />At its core, Exceptive is about precision, confidence, and excellence at sea — whether you're here to train, collaborate, or simply enjoy the marine environment from a new perspective.</p>
</section>

</MainLayout>