---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
<section>
<h2 class="mt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2">Aspö<br /><span class="font-regular">rental</span></h2>
<div class="w-full mt-4xl flex justify-end">
    <p class="text-right font-black text-bodySm md:text-body">Welcome to Aspö - an island where peaceful nature meets high-speed adventure. </p>
</div>    
</section>
<section>
    <p class="text-center">In addition to calm beaches, fishing and forest walks, we offer guided RIB boat experiences that take you flying across the sea at 35 knots. Navigate through narrow passages, open water and scenic island landscapes, all led by instructors who train police forces, military units and Greenpeace crews. It's action, skill, and stunning views - all in one unforgettable ride.
Whether you're here for rest or adventure, we offer two cozy island houses for rent:</p>
</section>

<section>
<div class="grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">House<br /><span class="font-regular">Anna</span></h2>
    <p>A newly built, bright and spacious home with open-plan layout. Sleeps 4-6 people, with beds on both floors and large windows facing open meadows. Outside, a wooden deck lets you relax in the sun and enjoy the stillness.
Great for families or small groups. </p>
<Button>Booking</Button>
    </div>
</div>
</section>
<section>
<div class="grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">House<br /><span class="font-regular">Bravo</span></h2>
    <p>Perfect for couples or a smaller group. Cozy, simple, and surrounded by nature. Can be rented on its own or together with the main house for extra space and privacy.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>
</section>
<section>
<div class="grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</section>
<section>
<div class="grid grid-cols-2">
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
    <div><img src="/greenpeace.jpg" alt=""></div>
</div>
</section>
<section>
<div class="grid grid-cols-2">
    <div><img src="/greenpeace.jpg" alt=""></div>
        <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Assault<br /><span class="font-regular">Navigation</span></h2>
    <p>Master advanced radar usage, silhouette navigation, tactical approaches, and fast-paced decision-making in high-risk scenarios.</p>
    </div>
</div>
</section>
</MainLayout>