---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<MainLayout title="Titel">
<div class="fixed inset-0 z-[-1] bg-[url('/bg_blue.jpg')] bg-repeat bg-center bg-cover">
  </div>
   <div id="grid-bg" class="fixed inset-0 z-[-1] pointer-events-none">
  <img src="/bg_grid.svg" class="w-full h-full object-cover transition-transform duration-75" />
  </div>

<section class="bg-[url('/rental_fade.png')] bg-cover bg-center h-screen 2xl:pt-4xl text-white flex flex-col justify-between">
<h2 class="pt-4xl font-black text-h2Sm md:text-h2Md lg:text-h2 pl-sm md:pl-m lg:pl-lg">Aspö <br /><span class="font-regular">rental</span></h2>
<div class="flex justify-end pr-sm md:pr-m lg:pr-lg pb-sm md:pg-m lg:pb-lg">
    <p class="text-right font-black text-bodySm md:text-body pr-sm md:pr-m lg:pr-lg">Welcome to Aspö - an island where peaceful nature<br>meets high-speed adventure.
</section>
<section class="flex justify-center text-white pt-sm md:pt-m lg:pt-lg">
    <p class="text-center font-black text-bodySm md:text-body w-8xl md:w-[710px]">In addition to calm beaches, fishing and forest walks, we offer guided RIB boat experiences that take you flying across the sea at 35 knots. Navigate through narrow passages, open water and scenic island landscapes, all led by instructors who train police forces, military units and Greenpeace crews. It's action, skill, and stunning views - all in one unforgettable ride.
Whether you're here for rest or adventure, we offer two cozy island houses for rent:</p>
</section>

<section class=" text-white pb-sm md:pb-m lg:pb-lg">
    <div class="px-sm md:px-m lg:px-lg">
<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="flex flex-col justify-between lg:order-2 px-sm md:px-m lg:px-lg pb-sm md:pb-0">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">House<br /><span class="font-regular">Anna</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">A newly built, bright and spacious home with open-plan layout. Sleeps 4-6 people, with beds on both floors and large windows facing open meadows. Outside, a wooden deck lets you relax in the sun and enjoy the stillness.
        Great for families or small groups. </p>
        </div>
         <div class="py-sm md:py-0 flex justify-end">
        <Button variant="primary" size="medium" href="https://www.airbnb.se/rooms/36550320?viralityEntryPoint=1&s=76" target="_blank">Booking</Button>
        </div>
    </div>
     <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/anna2.jpeg" alt="rental house 1"></div>
</div>


<div class="grid lg:grid-cols-2 pt-lg md:pt-4xl lg:pt-8xl">
        <div class="flex flex-col justify-between pr-sm md:pr-m lg:pr-lg">
            <div>
        <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">House<br /><span class="font-regular">Bravo</span></h2>
    <p class="mt-s font-black text-bodySm md:text-body w-8xl sm:w-auto 2xl:w-[710px]">Perfect for couples or a smaller group. Cozy, simple, and surrounded by nature. Can be rented on its own or together with the main house for extra space and privacy.</p>
    </div>
    <div class="py-sm md:py-0 flex justify-end">
        <Button variant="primary" size="medium" href="https://www.airbnb.se/rooms/36550320?viralityEntryPoint=1&s=76" target="_blank">Booking</Button>
    </div>
</div>
    <div class="flex flex-center p-s lg:p-0"><img class="object-cover" src="/bravo1.jpeg" alt="rental house 2"></div>
</div>


</div>
</div>
</section>
</MainLayout>

<script>
  const grid = document.getElementById('grid-bg');
  let targetX = 0;
  let targetY = 0;
  let currentX = 0;
  let currentY = 0;


  document.addEventListener('mousemove', (e) => {
    const ratioX = (e.clientX / window.innerWidth - 0.5);
    const ratioY = (e.clientY / window.innerHeight - 0.5);


    targetX = ratioX * 30; 
    targetY = ratioY * 30;
  });


  function animateGrid() {

    currentX += (targetX - currentX) * 0.08;
    currentY += (targetY - currentY) * 0.08;

    grid.style.transform = `translate(${currentX}px, ${currentY}px)`;

    requestAnimationFrame(animateGrid);
  }

  animateGrid();
</script>