---
import MainLayout from "../layouts/MainLayout.astro";
import Button from '../components/Button.astro';
---

<!-- Thank youuu -->
 <MainLayout title="Thank you" description="Thanks for reaching out to Exceptive. We’ll be in touch shortly to assist with your maritime training or booking inquiry.">
    <div class="fixed inset-0 z-[-1] bg-[url('/bg_blue_ocean.jpg')] bg-repeat bg-center bg-cover"></div>
   <div id="grid-bg" class="fixed inset-0 z-[-1] pointer-events-none">
  <img src="/bg_grid.svg" class="w-full h-full object-cover transition-transform duration-75" />
  </div>
<section class="h-screen text-white">
    <div class="grid grid-cols-2">
        <div class="pt-4xl pl-sm md:pl-m lg:pl-lg">
            <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2 text-focus-in">Thank<br><span class="font-regular">you</span></h2>
            <p class="mt-s font-black text-bodySm md:text-body text-focus-in delayed">Expect a response from our crew shortly.</p>
         </div>
            <img class="" src="/karta_svg.svg" alt="Nautical chart">
       
    </div>
</section>
 </MainLayout>

 <script>
  const grid = document.getElementById('grid-bg');
  let targetX = 0;
  let targetY = 0;
  let currentX = 0;
  let currentY = 0;


  document.addEventListener('mousemove', (e) => {
    const ratioX = (e.clientX / window.innerWidth - 0.5);
    const ratioY = (e.clientY / window.innerHeight - 0.5);


    targetX = ratioX * 30; 
    targetY = ratioY * 30;
  });


  function animateGrid() {

    currentX += (targetX - currentX) * 0.08;
    currentY += (targetY - currentY) * 0.08;

    grid.style.transform = `translate(${currentX}px, ${currentY}px)`;

    requestAnimationFrame(animateGrid);
  }

  animateGrid();
</script>