---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Thank youuu -->
 <MainLayout title="Thank you">
<section class=" h-screen bg-[url('/bg_grid.svg'),url('/bg_blue_ocean.jpg')] bg-cover bg-center">
    <div class=" grid grid-cols-2">
        <div class="pt-4xl pl-sm md:pl-m lg:pl-lg">
            <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Thank <span class="font-regular">you</span></h2>
            <p class="my-2xl font-black text-bodySm md:text-body">Expect a response from our crew shortly.</p>
         </div>
            <img class="" src="/karta_svg.svg" alt="">
       
    </div>
</section>
 </MainLayout>