---
import MainLayout from "../layouts/MainLayout.astro";
---

<!-- Thank youuu -->
 <MainLayout title="Thank you">
<section class="mt-4xl">
    <h2 class="font-black text-h2Sm md:text-h2Md lg:text-h2">Thank <span class="font-regular">you</span></h2>
    <p class="my-2xl font-black text-bodySm md:text-body">Expect a response from our crew shortly.</p>
</section>
 </MainLayout>