---
import Button from '../components/Button.astro';
---
<article>
<div><img src="/logo-lg.svg" alt="large logo"></div>
<div class="flex justify-between mx-lg mt-lg">
    <div class="grid font-black text-blue-500 text-bodySm md:text-bodyMd lg:text-body">
        <a href="/training">Training</a>
        <a href="/rental">Rental</a>
        <a href="/faq">FAQ</a>
        <a href="/contact">Contact</a>
    </div>
    <div class="mt-lg">
        <Button variant="secondary" size="medium">Contact</Button>
    </div>
</div>
</article>