---
---
<div class="font-black space-x-2 text-bodyDecoSm md:text-link lg:text-bodyDeco font-orbitron text-white 
  bg-black-500  md:rounded-32 h-lg fixed top-[1vh] px-[10px] md:px-[25px] 
  left-1/2 transform -translate-x-1/2 flex items-center justify-between 
  w-[320px] sm:w-[590px] lg:w-[800px] 2xl:w-[1066px] max-w-screen-sm md:max-w-screen-xl z-50">
    <a href="/courses" class="relative inline-block group">COURSES <span class="absolute left-0 -bottom-0.5 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span></a>
    <a href="/rental" class="relative inline-block group">RENTAL<span class="absolute left-0 -bottom-0.5 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span></a>
     <a href="/"><img class="2xl:w-60 hover:animate-rotate" src="/logo.svg" alt="logo"></a>
    <a href="/faq" class="relative inline-block group">FAQ<span class="absolute left-0 -bottom-0.5 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span></a>
    <a href="/contact" class="relative inline-block group">CONTACT<span class="absolute left-0 -bottom-0.5 w-0 h-[2px] bg-white transition-all duration-300 group-hover:w-full"></span></a>
</div>



