---
---
<div class="font-black space-x-2 text-bodyDecoSm md:text-link lg:text-bodyDeco font-orbitron text-white max-w-screen-sm md:max-w-screen-xl bg-black-500 rounded-full md:rounded-32 h-lg fixed top-[1vh] px-[10px] md:px-[25px] left-1/2 transform -translate-x-1/2 flex items-center justify-between w-auto sm:w-[590px] lg:w-[800px] 2xl:w-[1066px] z-50">
    <a class="hover:underline" href="/courses">COURSES</a>
    <a class="hover:underline" href="/rental">RENTAL</a>
     <a href="/"><img class="w-48 2xl:w-80 hover:border-b-black-500" src="/logo.svg" alt="logo"></a>
    <a class="hover:underline" href="/faq">FAQ</a>
    <a class="hover:underline" href="/contact">CONTACT</a>
</div>
