---
import Header from "../components/Header.astro";
import Footer from "../components/Footer.astro";
import '../styles/tailwind.css';
import 'animate.css';

const { title, description } = Astro.props;
---
<html lang="en">
	<head>
		<script src="https://unpkg.com/alpinejs" defer></script>
		<meta charset="utf-8" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
		<meta name="description" content={description} />
	</head>
	<body>

		<header>
			<Header />
		</header>
		
		<main>
			<slot />
		</main>

		<footer>
			<Footer />
		</footer>
			
	</body>
</html>
